body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    width: 100vw;
    height: 100vh;
}

.canvas {
    width: 80%;
    height: 80%;
    background-color: blue;
}

.pixel {
    width: 1em;
    height: 1em;
    background-color: blueviolet;
    border: 1px solid black; /*keep in mind where borders touch is doubled */
}